<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/design.css}">
</head>
<body>
<div class="topbar">
    <h1>Carspotting Warsaw</h1>
    <p>Seen a unique/exotic car? Have a picture? Share it with other enthusiasts.</p>
</div>

<div class="menubar">
    <a th:href="@{/}">Spots</a>
    <a th:href="@{/addspot}">Add spot</a>
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/logout}">Logout</a>
    <a th:href="@{/register}">Register</a>
</div>
<div class="footer">
    <h2>Please sign in</h2>
</div>
<div>
    <form class="form" method="post" action="/login">

        <div class="formInput">
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        </div>
        <div class="formInput">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <button class="button" type="submit">Sign in</button>
    </form>
</div>




</body>
</html>