<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>

  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/design.css}">

</head>
<body>

<div class="topbar">
  <h1>Carspotting Warsaw</h1>
  <p>Seen a unique/exotic car? Have a picture? Share it with other enthusiasts.</p>
</div>

<div class="menubar">
  <a th:href="@{/}">Spots</a>
  <a th:href="@{/addspot}">Add spot</a>
  <a th:href="@{/search}">Search</a>
  <a th:href="@{/login}">Login</a>
  <a th:href="@{/logout}">Logout</a>
  <a th:href="@{/register}">Register</a>
</div>

<div class="footer">
  <h2>Please register if you want to upload spots</h2>
</div>
<div>
  <form class="form" method="post" action="/users/register">

    <div class="formInput">
      <input type="text" id="username" name="username"  placeholder="Username" required="" autofocus="">
    </div>
    <div class="formInput">
      <input type="email" id="email" name="email"  placeholder="Email" required="">
    </div>
    <div class="formInput">
      <input type="password" id="password" name="password" placeholder="Password" required="">
    </div>
    <button class="button" type="submit">Register</button>
  </form>
</div>

</body>

<footer class="footer">
  <p><small>created by AO, 2022</small><br>
</footer>

</html>
